chroma-hnswlib==0.7.3
chromadb==0.4.24
docx2txt==0.8
langchain==0.1.14
langchain-community==0.0.31
langchain-core==0.1.38
langchain-google-genai==1.0.1
langchain-openai==0.1.1
langchain-text-splitters==0.0.1
loguru==0.7.2
openai==1.16.1
pip==24.0
pipenv==2023.3.20
pypdf==4.1.0
sentence-transformers==2.6.1
streamlit==1.32.2
tiktoken==0.6.0
tokenizers==0.15.2
toml==0.10.2
toolz==0.12.1
torch==2.2.2
tornado==6.4
unstructured==0.13.2
unstructured-client==0.18.0
