streamlit
openai
langchain
langchain_openai
langchain_google_genai
tiktoken
PyPDFLoader
Docx2txtLoader
UnstructuredPowerPointLoader
OpenAIEmbeddings
HuggingFaceBgeEmbeddings
SentenceTransformerEmbeddings
Chroma
RecursiveCharacterTextSplitter
RetrievalQA
ChatOpenAI
